<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      REDs Asignados
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>        
      <li class="active">Agregar proyecto RED</li>
      <li class="">REDs asignados</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box-header with-border">
      <h3 class="box-title">Usted ha sido asignado a los siguientes REDs:</h3>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre del RED</th>
        <th scope="col">Rol</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let red of redsAsignados">
        <th scope="row">{{red.nombre}}</th>
        <td>{{red.rol}}</td>
        <td><button type="button" class="btn btn-primary">Vet Detalle</button></td>
      </tr>
    </tbody>
  </table>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
