<!-- Content Wrapper. Contains page content -->
<div class="marginH content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Detalles de un recurso
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Detalles de un recurso</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->

        <div class="box box-primary">
          <div class="box">

            <div class="box-body">
              <div id="loadingContainer" *ngIf="loading" class="text-center">
                <sk-chasing-dots [color]="sisredColor"></sk-chasing-dots>
              </div>
              <div *ngIf="!loading && recurso" class="row">
                <div class="col-12 text-center mb-5">
                  <h5 class="text-secondary mb-0 pb-0">RECURSO</h5>
                  <h1 class="text-dark">{{recurso.nombre}}</h1>
                </div>

                <div class="col-lg-4 col-12 text-center block-center">
                  <img src="{{recurso.thumbnail}}" alt="..." class="img-thumbnail shadow"
                    style="width: 250px; height: 250px;">
                  <br><br>
                  <div class="text-center mb-4">
                    <button type="button" class="btn btn-secondary text-white"
                      [routerLink]="['/red/'+idred+'/recursos/']"><i
                        class="fas fa-chevron-left"></i>&nbsp;Regresar</button>
                  </div>
                </div>
                <div class="col-lg-7 col-12">
                  <ul class="list-group mt-0">
                    <li class="list-group-item border-sisred-blue"><b>Id:</b>{{recurso.id}}</li>
                    <li class="list-group-item border-sisred-blue"><b>Nombre: </b>{{recurso.nombre}}</li>
                    <li class="list-group-item border-sisred-blue"><b>Archivo: </b>{{recurso.archivo}}</li>
                    <li class="list-group-item border-sisred-blue"><b>Fecha de creación: </b>{{recurso.fecha_creacion}}
                    </li>
                    <li class="list-group-item border-sisred-blue"><b>Fecha de modificación:</b>
                      {{recurso.fecha_ultima_modificacion}}</li>
                    <li class="list-group-item border-sisred-blue"><b>Tipo: </b>{{recurso.tipo}}</li>
                    <li class="list-group-item border-sisred-blue"><b>Descripción: </b>{{recurso.descripcion}}</li>
                  </ul>
                </div>

                <!-- <div class="col-12 mt-1 mb-2" *ngIf="red.recursos.length === 0">
                  <h3>No hay recursos asociados al red</h3>
                </div> -->

              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.box primary-->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
