<div class="container">
  <form>
  
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <p>Avance del RED: <a href="https://agiles-grupo1-sisred.herokuapp.com/consultar-proyectos/recurso/">{{ red?.nombre }}</a></p>  
        </div>
        <div class="row">
          <p>Proyecto Conecta-Te: <strong>{{ red?.getProyecto }}</strong></p>
        </div>
      </div>
      <!--/.col-md-8-->
      <div class="col-md-4" style="text-align: right">
        <h2>{{ red?.getFase }}</h2>
      </div>
      <!--/.col-md-4-->
    </div><br>
    <!--/.row-->

    <div class="row">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">RED</th>
            <th scope="col">Fase</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{ red?.nombre }}</th>
            <td>{{ red?.getFase }}</td>
          </tr>
        </tbody>
      </table>
      <!--/.table-->
    </div><br>
    <!--/.row-->

    <div class="row">
      <h5>Avance de sub-productos del RED</h5>
    </div><br>
    <!--/.row-->

    <div class="row">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Sub-producto</th>
              <th scope="col">Fase</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subreds of subred">
              <th>{{ subreds.nombre }}</th>
              <td>{{ subreds.getFase }}</td>
            </tr>
          </tbody>
        </table>
        <!--/.table-->
      </div>
      <!--/.row-->

  </form>
  <!--/.form-->
</div>
<!--/.container-->