<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Versión del RED en revisión        
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>        
      <li class="active">Versión del RED en revisión</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Información del RED</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <dl>
                      <dt>RED</dt>
                      <dd>{{ version.nombreRed }}</dd>
                      <dt>Número de versión</dt>
                      <dd>{{ version.numero }}</dd>                      
                      <dt>Número de recursos</dt>
                      <dd>{{ version.recursos }}</dd>
                    </dl>
                    <div class="float-right">
                      <button type="submit" class="btn btn-info">Pasar RED listo para usuario final</button>
                    </div>                    
                  </div>
            </div>                             
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- ./col -->
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Listado de Recursos de la Versión</h3>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Thumbnail</th>
                  <th>Recurso</th>                  
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of recursos">
                        <td>
                          <img src="{{item.thumbnail}}" width="300" height="200" *ngIf="item.tipo == 'imagen'">
                          <video id="player" width="300" height="200" src={{item.thumbnail}} allowfullscreen controls #media *ngIf="item.tipo == 'video'"></video>

                        </td>
                        <td>
                          {{ item.nombre }}
                          <div class="float-right">
                            <button type="submit" class="btn btn-info">Revisar recurso</button>
                          </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Thumbnail</th>
                  <th>Recurso</th>
                </tr>
                </tfoot>
              </table>
            </div>            
          </div>
        </div>
        <div class="float-right">
          <button type="submit" class="btn btn-info">Volver</button>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
