<div class="details-container">
  <div class="row border bg-warning">
    <div class="col-sm">
      <p>Recurso:</p>
    </div>
  </div>
  <div class="row border align-items-center">
    <div class="col-sm">
      <div class="text-center">
        <img src="https://test-ipv6.com/images/hires_ok.png" width="100" height="100">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 border">Tipo</div>
    <div class="col-sm-6 border">{{resourceDetailsoModel.type}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6 border">Autor</div>
    <div class="col-sm-6 border">{{resourceDetailsoModel.author}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6 border">Fecha creacion</div>
    <div class="col-sm-6 border">{{resourceDetailsoModel.creationDate}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6 border">Descripcion</div>
    <div class="col-sm-6 border">{{resourceDetailsoModel.description}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6 border">Metadata</div>
    <div class="col-sm-6 border">

      <div class="btn-group btn-space" role="group" *ngFor="let metadata of resourceDetailsoModel.metadata">
        <button type="button" class="btn btn-outline-primary">{{metadata}}</button>
      </div>
    </div>
  </div>

</div>