.details-container{
    width: 100%;
    padding-right: 30%;
    padding-left: 30%;
    margin-right: auto;
    margin-left: auto;

}
.button-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
}

.btn-space {
    margin-right: 5px;
}