<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col-12 form-group" style="text-align: center;">
    <p>Seleccione los archivos a subir</p>
    <p><input type="file" id="REDFile" (change)="onFileChange($event)" #fileInput></p>
  </div>
  <div class="col-12 alert alert-warning alert-dismissible fade show" role="alert">
    <p><strong>INFO:</strong> En caso de que su proyecto del RED contenga más de un archivo, suba un archivo comprimido.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-12 form-group" style="text-align: center;">
    <p>Comentarios de los cambios realizados: </p>
    <textarea rows="5" cols="50" id="comments"></textarea>
  </div>
  <div class="col-12 form-group" style="text-align: center;">
    <button type="submit">Subir</button>
    <button type="reset">Cancelar</button>
  </div>
</form>
