<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Error 404
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Error 404</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page" style="height: 150px">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content" style="display: flex; align-items: center;height: 100%;">            
            <div style="text-align: center">
                <h3 style="display:inline-block"><i class="fa fa-warning text-yellow"></i> Página no encontrada.</h3>
                <p style="display:inline-block">
                    No fue posible encontrar la página buscada.
                    <a href="/">Volver al dashboard</a>.
                  </p>        
            </div>            
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->