<div class="container">
  <div *ngFor="let red of reds" class="row">
    <div class="col-12 mt-4">
    <br>
    </div>
    <div class="col">
    <h5 class="text-secondary">RED</h5>
    <h1 class="text-secondary">{{red.nombre}}</h1>
    </div>
    <div class="col">
      <br><br><br>
      <h5><p class="text-center text-secondary">RECURSOS ASOCIADOS</p></h5>
      <ul class="list-group">
        <li *ngFor="let recurso of red.recursos" class="list-group-item list-group-item-action list-group-item-light" [routerLink]="['/red/'+red.id_conectate+'/recursos/'+recurso.id]">{{recurso.nombre}}</li>
      </ul>
    </div>
    <div class="col">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYznP5uZC85Fj94bJzGLRp0XSK_kTgQPIDOyLbTi5TAvScuLiB" alt="..." class="rounded mx-auto d-block">
      <br>
      <h5><p class="text-center text-secondary">USUARIO: TEST</p></h5>
    </div>
  </div>
</div>





