<!-- Content Wrapper. Contains page content -->
<div class="marginH content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 *ngIf="red">
      RED <b>{{red.nombre}}</b>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Recursos asociados</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->

        <div class="box box-primary">
          <div class="box">

            <div class="box-body">
                <canvas #myCanvas width="400" height="400" 
                style="background:lightgray;" 
                (mousedown)="mdEvent($event)" 
                (mouseup)="muEvent($event)" 
                (mousemove)="mmEvent($event)">
                </canvas>
                <div *ngIf="mostrarCaja">
                <ckeditor [editor]="Editor" (change)="onChangeComentario($event)"></ckeditor>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.box primary-->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
