/* You can add global styles to this file, and also import other style files */
@import url(assets/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(assets/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css);
@import url(assets/AdminLTE/bower_components/Ionicons/css/ionicons.min.css);
@import url(assets/AdminLTE/dist/css/AdminLTE.min.css);
@import url(assets/AdminLTE/dist/css/skins/skin-blue.min.css);
@import url(assets/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css);
@import url(assets/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic';

.row-middle {
  display: flex;
  align-items: center;
}

.border-sisred-blue {
  border-color: #3c8dbc !important;
}

.pointer {
  cursor: pointer;
}

.row {
  width: 100% !important;
 }