<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Buscar Recursos
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Buscar Recursos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <!-- form start -->
          <form role="form" [formGroup]="buscarRecursoForm">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Complete los filtros de búsqueda</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">
                  </div>
                  <div class="form-group" style="display: flex; align-items: center;">
                    <div class="form-group">
                      <label for="fechaDesde">Fecha creación desde</label>
                      <div class="input-group date" (click)="d1.open()">
                        <input type="text" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d1="ngbDatepicker" formControlName="fechaDesde">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fechaHasta">Fecha creación hasta</label>
                      <div class="input-group" (click)="d2.open()">
                        <input type="text" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d2="ngbDatepicker" formControlName="fechaHasta">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tag">Tag metadata</label>
                    <input type="text" class="form-control" placeholder="tag" formControlName="tag">
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->

            <div class="box-footer">
              <button type="submit" (click)="buscarRecurso()" class="btn btn-default">Buscar</button>
            </div>
            <!-- /.box-footer -->
          </form>

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Resultados de la búsqueda</h3>
            </div>
            <div class="box-body">
              <div *ngIf="recursos.length !== 0">
                <table class="table" >
                  <thead>
                    <tr>
                      <th scope="col">Nombre del Recurso</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Fecha de creación</th>
                      <th scope="col">Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let recurso of recursosSinRepetir.slice((pagina-1)*paginaSize, pagina*paginaSize)">
                      <td>{{recurso.nombre}}</td>
                      <td>{{recurso.descripcion}}</td>
                      <td>{{recurso.fecha_creacion}}</td>
                      <td>{{recurso.tipo}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" [routerLink]="['/getRecurso/' + recurso.id]">
                          Ver detalle
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ngb-pagination class="d-flex justify-content-center" *ngIf="recursos.length > paginaSize" [collectionSize]="recursosSinRepetir.length" [(page)]="pagina" [maxSize]="5" [pageSize]="paginaSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
              </div>
              <span *ngIf="recursos.length === 0">Sin Resultados</span>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (left) -->
      <!-- /.row -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<ngx-spinner bdOpacity = 0.9bd Color = "rgba(34,31,31,0)" size = "medium" color = "#000000" type = "ball-spin" fullScreen = "true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
