<aside class="main-sidebar" *ngIf="usuario">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/logos/uniandes.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>{{usuario.nombre}} {{usuario.apellido}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="pointer" routerLink="/asignaciones" routerLinkActive="active">
        <a>
          <i class="fas fa-network-wired"></i><span>&nbsp;&nbsp;Ver asignaciones</span>
        </a>
      </li>
      <li class="pointer" [routerLink]="link" routerLinkActive="active">
        <a>
          <i class="fas fa-briefcase"></i><span>&nbsp;&nbsp;Ver REDs asignados</span>
        </a>
      </li>
      <li routerLink="/buscarRecurso" routerLinkActive="active">
        <a>
          <i class="fas fa-search"></i><span>&nbsp;&nbsp;Buscar Recurso</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
